<a href="https://colab.research.google.com/github/carlosviniharo/DEA113-G1/blob/main/assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
url = '/content/netflix_1.csv'
data = pd.read_csv(url)
data.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"

In [49]:
# Selecting only the data that the type is Movie.
data = data[data["type"] == 'Movie']

In [50]:
print(data['type'].unique())

['Movie']

In [51]:
data.nunique()

show_id         6126
type               1
title           6124
director        4355
country           79
date_added      1531
release_year      73
rating            14
duration         205
listed_in        278
dtype: int64

In [52]:
data.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        5
listed_in       0
dtype: int64

In [53]:
data['duration'] = data['duration'].fillna('min 0')

In [54]:
data.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [55]:
# Extract numeric values from the 'duration' column
data['duration'] = data['duration'].str.extract(r'(\d+)').astype(int)

In [56]:
data.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90,Documentaries
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125,"Dramas, Independent Movies, International Movies"
6,s10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021,PG-13,104,"Comedies, Dramas"
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019,TV-Y7,87,"Children & Family Movies, Comedies, Music & Mu..."

In [57]:
data['duration'][data['duration'] == 0]

245    0
684    0
690    0
728    0
733    0
Name: duration, dtype: int64

In [58]:
# Replacing the average value for values with value zero
data['duration'] = data['duration'].replace(0, data['duration'][data['duration'] != 0].mean())

In [59]:
data['duration'][data['duration'] == 0]

Series([], Name: duration, dtype: float64)